* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'brady_bunch_remastered';
	src: url('../../assets/fonts/brady_bunch_remastered.woff') format('woff');
}

html {
	background-image: url('../../assets/interface_shared_images/clouds_background.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	background-size: auto 100%;
	animation: animatedBackground 24000s linear infinite;
	overflow-y: hidden;
	color: white;
	font-weight: bolder;
	font-family: 'brady_bunch_remastered';
	text-shadow: 1px 0 0 gray, 0 1px 0 gray, -1px 0 0 gray, 0 -1px 0 gray;
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100000% 0;
	}
}

#gameplay_page_container {
	width: 100%;
	padding-top: 56.25%;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	border: outset 1vh #efb469;
}

#gameplay_interface {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#level_value {
	position: absolute;
	top: 1vw;
	left: 3.4vw;
	font-size: 5vw;
	z-index: 2;
}

#gameplay_page_header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 25%;
	max-height: 25vh;
}

#tower_selection {
	width: 40%;
	height: 100%;
	position: relative;
	background: url('images/towers_buttons_display.svg');
	background-size: 100% 100%;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#buttons_area {
	position: relative;
	margin-right: 2.5%;
	width: 80%;
	display: flex;
	justify-content: flex-end;
}

.tower_area {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.tower_button {
	position: relative;
	width: 45%;
}

.tower_money_cost_visor {
	width: 75%;
	background: url('images/tower_cost_display.svg') no-repeat center;
	background-size: 75% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.price {
	font-size: 2vw;
	margin-left: 20%;
}

.tooltip {
	position: absolute;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
	width: 7vw;
	height: 10vw;

	border-radius: 5px;
	padding: 0px !important;
	border: solid 2px #efb469;
	background-color: #f3db95 !important;
}

.tooltip_cat_tower {
	top: 106%;
	left: 0.5%;
}

.tooltip_pikachu_tower {
	top: 106%;
	left: 25.5%;
}

.tooltip_stone_tower {
	top: 106%;
	left: 75.5%;
}

.tooltip_rabbit_tower {
	top: 106%;
	left: 50.5%;
}

.tooltip_cat_tower,
.tooltip_pikachu_tower,
.tooltip_rabbit_tower,
.tooltip_stone_tower {
	display: none;
}

.tooltip img {
	width: 30%;
}

.tooltip div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tooltip div label {
	font-size: calc(1vw + 1vh);
}

.cat_tower,
.pikachu_tower,
.rabbit_tower,
.stone_tower {
	cursor: pointer;
}

.stone_tower {
	height: 50%;
}

#money_display {
	width: 15%;
	height: 75%;
	padding-left: 3%;
	padding-bottom: 1%;
	background: url('images/money_display.svg');
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#score_display {
	width: 15%;
	height: 75%;
	padding-left: 3%;
	padding-bottom: 1.2%;
	background: url('images/score_display.svg');
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#live_display {
	width: 15%;
	height: 75%;
	padding-left: 3%;
	padding-bottom: 1.85%;
	margin-top: 0.7%;
	background: url('images/live_display.svg');
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#live_value,
#score_value,
#money_value {
	font-size: 3.5vw;
}

#configuration_button {
	width: 7vw;
	height: 6vw;
	cursor: pointer;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	background-image: url('images/configuration_button.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#remove_button {
	width: 7vw;
	height: 6vw;
	cursor: pointer;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	background-image: url('images/remove_button.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#remove_button:active {
	transform: translateY(4px);
	background-image: url('images/remove_button_active.svg');
}
#configuration_button:active {
	transform: translateY(4px);
	background-image: url('images/configuration_button_active.svg');
}

#canvas {
	width: 100%;
	height: 75%;
	max-height: 75vh;
	overflow-y: hidden;
	background-image: url('images/canvas_background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
