* {
	margin: 0;
	padding: 0;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

#save_score_modal {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

#save_score_modal_content {
	background-color: transparent;
	width: calc(42.5vh + 25vw);
	height: calc(37.5vh + 25vw);
	z-index: 1;
	position: relative;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

#save_score_modal_container {
	width: calc(42.5vh + 25vw);
	height: calc(37.5vh + 25vw);
	background-image: url('images/save_score_window.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#save_score_modal_input {
	width: 30vh;
	height: 4vh;

	background-image: url('images/save_window_input.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	border: none;
	background-color: transparent;
	font-family: 'Architects Daughter', cursive;
	padding: 0 5%;
	font-size: 4vh;
	color: rgb(73, 73, 73);
}

#save_score_modal_input:focus {
	outline: none;
}

#save_score_modal_save_button {
	background-image: url('images/save_button.svg');
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 27.5vw;
	height: 12.5vh;
}

#save_score_modal_save_button:active {
	transform: translateY(4px);
	background-image: url('images/save_button_active.svg');
}

#save_score_modal_restart_button {
	background-image: url('images/restart_button.svg');
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 27.5vw;
	height: 12.5vh;
}

#save_score_modal_restart_button:active {
	transform: translateY(4px);
	background-image: url('images/restart_button_active.svg');
}

#save_score_modal_exit_button {
	background-image: url('images/exit_game_button.svg');
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 27.5vw;
	height: 12.5vh;
}

#save_score_modal_exit_button:active {
	transform: translateY(4px);
	background-image: url('images/exit_game_button_active.svg');
}
