* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#root {
	height: fit-content;
	min-height: 100vh;
	width: 80%;
	max-width: 1024px;
	margin: auto;
	padding: 40px 30px;
	box-shadow: 0 0 10px 0 #20202025;
}

#root form {
	text-align: center;
	margin: 5vh auto;
}

#ranking {
	margin: 3vh auto;
}

#ranking * {
	border: 1px solid #202020;
	padding: 4px 6px;
	margin: 0 5px;
}
