* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("./images/clouds_background.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-weight: bolder;
  font-family: "Architects Daughter", cursive;
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

html,
body {
  height: 100%;
}

#gameplay_interface {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
}

#tower_selection {
  width: 33.33%;
  height: 100%;
  margin-top: 5px;
  position: relative;
  background: url("./images/towers_buttons_display.svg");
  background-size: 100% 100%;
}

#buttons_area {
  position: absolute;
  top: 15%;
  left: 18%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tower_area {
  display: flex;
  flex-direction: column;
}

.tower_button {
  width: 75px;
  height: 75px;
}

.tower_money_cost_visor {
  width: 75px;
  height: 25px;
  background: url("./images/tower_cost_display.svg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cat_tower {
  background: url("./images/cat_tower_level_1.png");
  background-size: 100% 100%;
  filter: brightness(75%);
} */

.blue_rabbit_tower {
  background: url("./images/blue_rabbit_tower_level_1.png");
  background-size: 100% 100%;
}

.red_rabbit_tower {
  background: url("./images/red_rabbit_tower_level_1.png");
  background-size: 100% 100%;
}

#score_display {
  width: 15%;
  height: 75%;
  background: url("./images/score_display.svg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#money_display {
  width: 15%;
  height: 75%;
  background: url("./images/money_display.svg");
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#score_value,
#money_value {
  font-size: 48px;
}

.blue_buttons {
  width: 15%;
  height: 50%;
  border: none;
  background: url("./images/blue_button.svg");
  background-size: 100% 100%;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-shadow: inherit;
  font-size: 40px;
}

/* #gameplay_canvas {

} */

#canvas1 {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: white;

  width: 100%;
  height: 100%;
  /* background-color: red; */
}
