@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 1.44vw;
	background: url('../assets/images/clouds_background.png') no-repeat center
		center fixed;
	background-size: cover;
	color: white;
	font-weight: bolder;
	text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}
html body {
	overflow-y: hidden;
}
#level_value {
	font-family: 'Roboto', sans-serif;
	color: rgb(241, 241, 241);
	position: absolute;
	top: 2vw;
	left: 5vw;
	font-size: 3em;
	z-index: 4;
}
#container_gameplay_interface {
	width: 100%;
	padding-top: 56.25%;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	border: outset 1vh #efb469;
}
#gameplay_interface {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#gameplay_interface_header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 25%;
	max-height: 25vh;
}

#canvas1 {
	width: 100%;
	height: 75%;
	max-height: 75vh;

	overflow-y: hidden;

	background-image: url('../assets/images/backgroundGame.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#tower_selection {
	width: 35%;
	height: 100%;
	position: relative;
	background: url('../assets/images/towers_buttons_display.svg');
	background-size: 100% 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#buttons_area {
	position: relative;
	margin-top: 1%;
	width: 90%;
	display: flex;
	justify-content: flex-end;
}

.tower_area {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tower_button {
	width: 45%;
}

.tower_money_cost_visor {
	width: 75%;
	background: url('../assets/images/tower_cost_display.svg') no-repeat center;
	background-size: 75% 100%;
}

.cat_tower,
.pikachu_tower,
.rabbit_tower {
	cursor: pointer;
}

#live_display {
	width: 15%;
	height: 75%;
	padding-left: 2%;
	padding-bottom: 1%;
	margin-top: 0.5%;
	background: url('../assets/images/live_display.svg');
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#score_display {
	width: 15%;
	height: 75%;

	padding-left: 2%;
	background: url('../assets/images/score_display.svg');
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#money_display {
	width: 15%;
	height: 75%;
	padding-left: 2%;
	background: url('../assets/images/money_display.svg');
	background-size: 100% 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.price {
	font-size: 1rem;
	margin-left: 35%;
}
#live_value,
#score_value,
#money_value {
	font-size: 2rem;
}

.blue_buttons {
	width: 15%;
	height: 50%;
	border: none;
	background: url('../assets/images/blue_button.svg');
	background-size: 100% 100%;
	color: inherit;
	font-weight: inherit;
	text-shadow: inherit;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.5rem;
	cursor: pointer;
}

.tooltip1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	color: white;
	font-family: 'Roboto', sans-serif;
	height: 10vw;
	width: 7.5vw;
	border-radius: 5px;
	padding: 0px !important;
	border: solid 2px #efb469;
	background-color: #f3db95 !important;
}
.tooltip1 img {
	width: 30%;
}
.tooltip1 div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.tooltip1 div label {
	font-size: 1rem;
}
.configuration_button {
	width: 5vw;
	cursor: pointer;
}
.configuration_button:hover {
	filter: brightness(0.7);
}

/* Configuration modal */
/* $('.configuration_modal').html(
	`<div class="configuration_modal_content">
			<div>
				Bom dia
					<button class="close_configuration_modal" type="button">FECHAR</button>
			</div>
	</div>
	`
); */
.configuration_modal {
	position: absolute;
	z-index: 10;
	left: 50%;
	margin-left: -50px;
}
