* {
	margin: 0;
	padding: 0;
}

.app__container {
	width: 100vw;
	height: 100vh;
	background-image: url('../assets/images/clouds_background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

.save__container {
	width: 70%;
	height: 70%;
	background-image: url('../assets/images/save_window.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	display: flex;
	justify-content: center;
	align-items: center;
}

.input__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 40%;
	height: 50%;
}

#save__name__input {
	width: 50%;
	height: 50%;

	background-image: url('../assets/images/save_window_input.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-size: 100% 100%;
	border: none;
	background-color: transparent;
	font-family: 'Architects Daughter', cursive;
	padding: 0 5%;
	font-size: 1.5vw;
	color: grey;
	margin-top: 30%;
	margin-bottom: 10%;
}

#save__name__input:focus {
	outline: none;
}

.blue__button {
	background-image: url('../assets/images/blue_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-size: 100% 100%;
	border: none;
	background-color: transparent;

	width: 50%;
	height: 50%;

	font-family: 'Architects Daughter', cursive;
	color: #ffffff;
	cursor: pointer;
	font-size: 1.5vw;
}
