* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 3.5em;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	color: #ffffff;
	font-weight: bolder;
	text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
	font-family: 'Architects Daughter', cursive;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 1em;
	}
}

@media screen and (max-width: 200px) {
	html {
		font-size: 0.5em;
	}
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100000% 0;
	}
}

.app__container {
	width: 100vw;
	height: 100vh;
	background-image: url('../assets/interface_images/clouds_background.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	background-size: auto 100%;
	animation: animatedBackground 12000s linear infinite;

	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome__container {
	width: calc(42vh + 20.6vw);
	height: calc(38.1vh + 20vw);

	background-image: url('../assets/images/welcome_window_2.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: calc(33vh + 20vw);
	height: calc(20vh + 15vw);
	padding-top: calc(6vh + 5vw);
}

.blue__button {
	background-image: url('../assets/interface_images/play_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;

	width: calc(10vh + 5vw);
	height: calc(10vh + 7vw);
	margin-bottom: calc(1vh + 1.5vw);
	cursor: pointer;
}

.blue__button:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/play_button_green.svg');
}

.ranking_and_sound_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;

	height: calc(25vh + 5vw);
}
.red__button {
	background-image: url('../assets/interface_images/ranking_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 40%;
	height: 55%;
	cursor: pointer;
}

.red__button:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/ranking_button_green.svg');
}

.sound__button {
	background-image: url('../assets/interface_images/sound_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 40%;
	height: 55%;
	cursor: pointer;
}

.sound__button:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/sound_button_green.svg');
}

.volume_menu {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.volumeSlider_container {
	width: 60%;
	height: 30%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sound_button_modal_full {
	background-image: url('../assets/interface_images/sound_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 25%;
	height: 100%;
	cursor: pointer;
}

.sound_control_button {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: calc(5vh + 2vw);
	height: calc(5vh + 2vw);
	cursor: pointer;
}
.sound_button_modal_full:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/sound_button_green.svg');
}

.sound_button_modal_empty {
	background-image: url('../assets/images/sound_button_disabled.svg');
}

.sound_button_modal_empty:active {
	transform: translateY(4px);
}

.volumeInfo_container {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: calc(3.5vh + 1.5vw);
}

.volumeSlider {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	width: 50%;
	height: 10%;
	cursor: pointer;
	background: transparent;
}

.volumeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	background-image: url('../assets/interface_images/slider_thumb.svg');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 0;
	width: 25px;
	height: 25px;
	background-image: url('../assets/interface_images/slider_thumb.svg');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.volumeSlider::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	appearance: none;
	height: 0.5vh;
	background: #f1c383;
	cursor: pointer;
}

.volumeSlider::-moz-range-track {
	-moz-appearance: none;
	appearance: none;
	height: 0.5vh;
	background: #f1c383;
	cursor: pointer;
}

.ranking__container {
	width: calc(34vh + 20vw);
	height: calc(30vh + 20vw);

	background-image: url('../assets/interface_images/ranking_window.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sound__menu {
	width: calc(30vh + 5vw);
	height: calc(53vh + 7.5vw);

	background-image: url('../assets/images/sound_window.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Ranking */
.ranking__cell__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
	height: 50%;
	overflow-y: auto;

	margin-top: 15%;
}

.ranking__cell {
	background-image: url('../assets/interface_images/ranking_cell.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 33.33%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ranking__cell_1 {
	background-image: url('../assets/interface_images/ranking_cell_1.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 33.33%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ranking__cell_2 {
	background-image: url('../assets/interface_images/ranking_cell_2.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 33.33%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ranking__cell_3 {
	background-image: url('../assets/interface_images/ranking_cell_3.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 33.33%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ranking__cell__name_score_date_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 72%;
	height: 100%;
}

.ranking__cell__only_score_date_container {
	display: flex;
	margin-top: 3.5%;
	width: 100%;
	height: 20%;
}

.ranking__cell__rank {
	width: 28%;
	height: 100%;
	font-size: calc(2vh + 1vw);

	display: flex;
	justify-content: center;
}
.ranking__cell__rank > p {
	margin-top: 10%;
	margin-left: 25%;
}
.ranking__cell__name {
	width: 100%;
	height: 45%;
	font-size: calc(1.5vh + 1vw);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ranking__cell__score {
	width: 100%;
	height: 100%;
	font-size: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ranking__cell__date {
	width: 100%;
	height: 100%;
	font-size: 20%;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 2.5%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
	background-color: transparent;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
	animation-name: animatetop;
	animation-duration: 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close_modal {
	background-image: url('../assets/images/button_close_red.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 50%;
	height: 15%;
	font-family: inherit;
	color: inherit;
	font-size: 3vh;
	cursor: pointer;
}

.close__modal:active {
	transform: translateY(4px);
	background-image: url('../assets/images/button_close_green.svg');
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* -------------------------SCROLL BAR--------------------------- */
::-webkit-scrollbar {
	width: 25px;
}

/* Track */
::-webkit-scrollbar-track {
	background-image: url('../assets/interface_images/scrollbar_track.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-image: url('../assets/interface_images/scrollbar_thumb.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 40%;
}
