* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 3.5em;
}

body {
	color: #ffffff;
	font-weight: bolder;
	text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
	font-family: 'Architects Daughter', cursive;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 1em;
	}
}

@media screen and (max-width: 200px) {
	html {
		font-size: 0.5em;
	}
}

.app__container {
	width: 100vw;
	height: 100vh;
	background-image: url('../assets/images/clouds_background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome__container {
	width: 100%;
	height: 100%;
	background-image: url('../assets/images/welcome_window.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 50%;
	height: 50%;

	margin-top: 37vh;
}

.blue__button {
	background-image: url('../assets/images/blue_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;

	width: 40%;
	height: 50%;

	color: inherit;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

.ranking_and_sound_container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 25%;
}

.red__button {
	background-image: url('../assets/images/ranking_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 15%;
	height: 100%;
	cursor: pointer;
}

.sound__button {
	background-image: url('../assets/images/sound_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 15%;
	height: 100%;
	cursor: pointer;
}

.ranking__container {
	width: 70%;
	height: 80%;

	background-image: url('../assets/images/ranking_window.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ranking__cell__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 60%;
	height: 50%;
	overflow-y: auto;
	margin-top: 15vh;
}

.ranking__cell {
	/* background-image: url('../assets/images/ranking_window_cell.svg'); */
	background-image: url('../assets/images/ranking_cell.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	width: 70%;
	height: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: violet; */
}

.ranking__cell__name_score_date_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 100%;
}

.ranking__cell__only_score_date_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.ranking__cell__rank {
	width: 25%;
	height: 100%;
	font-size: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 4%;
	padding-bottom: 8%;
}

.ranking__cell__name {
	width: 25%;
	width: 100%;
	height: 100%;
	font-size: 4.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 8%;
	padding-bottom: 12%;
}

.ranking__cell__score {
	width: 25%;
	width: 100%;
	height: 100%;
	font-size: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.5%;
}

.ranking__cell__date {
	width: 25%;
	width: 100%;
	height: 100%;
	font-size: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
	background-color: transparent;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
	animation-name: animatetop;
	animation-duration: 0.4s;
	margin: 5% 0 0 15%;
}

.close_modal {
	background-image: url('../assets/images/red_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;

	width: 50%;
	height: 15%;

	font-family: inherit;
	color: inherit;
	font-family: inherit;
	font-size: 5vh;
	cursor: pointer;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* -------------------------SCROLL BAR--------------------------- */
/* ::-webkit-scrollbar {
	width: 4px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
	background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
	background: #f08261;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	background: #555;
} */
