* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 3.5em;
}

body {
	color: #ffffff;
	font-weight: bolder;
	text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
	font-family: 'Architects Daughter', cursive;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 1em;
	}
}

@media screen and (max-width: 200px) {
	html {
		font-size: 0.5em;
	}
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100000% 0;
	}
}

.app__container {
	width: 100vw;
	height: 100vh;
	background-image: url('../assets/interface_images/clouds_background.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	background-size: auto 100%;
	animation: animatedBackground 12000s linear infinite;

	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome__container {
	width: 100%;
	height: 100%;
	background-image: url('../assets/interface_images/welcome_window.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 50%;
	height: 50%;

	margin-top: 25vh;
}

.blue__button {
	background-image: url('../assets/interface_images/play_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 50%;
	height: 60%;
	cursor: pointer;
}

.blue__button:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/play_button_green.svg');
}

.ranking_and_sound_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
}

.red__button {
	background-image: url('../assets/interface_images/ranking_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 25%;
	height: 100%;
	margin-right: 15vw;
	cursor: pointer;
}

.red__button:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/ranking_button_green.svg');
}

.sound__button {
	background-image: url('../assets/interface_images/sound_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 25%;
	height: 100%;
	cursor: pointer;
}

.sound__button:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/sound_button_green.svg');
}

.volume_menu {
	width: 60%;
	height: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.volumeSlider_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sound_button_modal_full {
	background-image: url('../assets/interface_images/sound_button.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 25%;
	height: 100%;
	cursor: pointer;
}

.sound_button_modal_full:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/sound_button_green.svg');
}

.sound_button_modal_empty {
	background-image: url('../assets/interface_images/sound_button_disabled.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 25%;
	height: 100%;
	cursor: pointer;
}

.sound_button_modal_empty:active {
	transform: translateY(4px);
}

.volumeInfo_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 0.75em;
}

.volumeSlider {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	width: 50%;
	height: 100%;
	cursor: pointer;
	background: transparent;
}

.volumeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	background-image: url('../assets/interface_images/slider_thumb.svg');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 0;
	width: 25px;
	height: 25px;
	background-image: url('../assets/interface_images/slider_thumb.svg');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.volumeSlider::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	appearance: none;
	height: 0.5vh;
	background: #f1c383;
	cursor: pointer;
}

.volumeSlider::-moz-range-track {
	-moz-appearance: none;
	appearance: none;
	height: 0.5vh;
	background: #f1c383;
	cursor: pointer;
}

.ranking__container {
	width: 70%;
	height: 80%;

	background-image: url('../assets/interface_images/ranking_window.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sound__menu {
	width: 20%;
	height: 75%;

	background-image: url('../assets/interface_images/sound_menu_background.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ranking__cell__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 60%;
	height: 50%;
	overflow-y: auto;
	margin-top: 15vh;
}

.ranking__cell {
	background-image: url('../assets/interface_images/ranking_cell.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 33.33%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ranking__cell_1 {
	background-image: url('../assets/interface_images/ranking_cell_1.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 33.33%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ranking__cell_2 {
	background-image: url('../assets/interface_images/ranking_cell_2.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 33.33%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ranking__cell_3 {
	background-image: url('../assets/interface_images/ranking_cell_3.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 33.33%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ranking__cell__name_score_date_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 55%;
	height: 70%;
}

.ranking__cell__only_score_date_container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 50%;
}

.ranking__cell__rank {
	width: 25%;
	width: 8vw;
	height: 60%;
	font-size: 4.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 1.3vw;
	padding-top: 1.1vh;
}

.ranking__cell__name {
	width: 100%;
	height: 50%;
	font-size: 4vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5vh;
}

.ranking__cell__score {
	width: 100%;
	height: 100%;
	font-size: 2.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5vh;
}

.ranking__cell__date {
	width: 100%;
	height: 100%;
	font-size: 1.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.5vw;
	padding-top: 0.5vh;
}

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
	background-color: transparent;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
	animation-name: animatetop;
	animation-duration: 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close__modal {
	background-image: url('../assets/interface_images/red_button_exit.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	background-color: transparent;
	width: 50%;
	height: 15%;
	font-family: inherit;
	color: inherit;
	font-family: inherit;
	font-size: 3vh;
	cursor: pointer;
}

.close__modal:active {
	transform: translateY(4px);
	background-image: url('../assets/interface_images/red_button_green.svg');
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* -------------------------SCROLL BAR--------------------------- */
::-webkit-scrollbar {
	width: 25px;
}

/* Track */
::-webkit-scrollbar-track {
	background-image: url('../assets/interface_images/scrollbar_track.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-image: url('../assets/interface_images/scrollbar_thumb.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 40%;
}
